LIBCAL_CLIENT_ID="<client_id>"
LIBCAL_CLIENT_SECRET="<client_secret_string>"
CONNECTION_STRING="account=<account_identifier>;user=<username>;password=<password>;db=<database_name>;schema=<schema_name>;warehouse=<warehouse_name>;role=<role_name>"